<header class="menu">
	<div id="main-logo">
	</div>
	<nav>
		<ul class="navigation">
			<li class="menuItem">
				<a href="/">Home</a>
			</li>
			<li class="menuItem" id="aboutUs">      
				<a href="/about">WTF?</a>
			</li>
			<li class="menuItem" id="AllPosts"> 
				<a href="/posts">Blog</a>
			</li>
			<li class="menuItem" id="ContactPage"> 
				<a href="/contact">Contact</a>
			</li>
			<li class="menuItem" id="LoginIn-Line"> 
				{{> user}}
			</li>
		</ul>
	</nav>    
</header>    
