{{#if user}}
<a href="" class="dropdown">	
	<img src="{{user.avatarUrl}}" class="navbar-avatar" alt="avatar" height="28">
	{{user.name}}
</a>

<ul class="dropdown-content">
	<li class="dropdown-item">
		<a href="/logout">logout</a>
	</li>
</ul>
{{else}}
<a href="" class="dropdown"> 
	not logged in
</a> 
<ul class="dropdown-content">
	<li class="dropdown-item">
		<a href="/login/google">Google login</a> 
	</li>
	<li class="dropdown-item">
		<a href="/login/github">Github login</a> 
	</li>
	<li class="dropdown-item">
		<a href="/login/twitter">Twitter login</a>
	</li> 
	<li class="dropdown-item">
		<a href="/login/facebook">Facebook login</a>
	</li>
</ul>
{{/if}}