{{#if user}}
	<img src="{{user.avatarUrl}}" class="navbar-avatar" alt="avatar">
	{{user.name}}
<ul class="dropdown-content">
	<li class="dropdown-item">
		<a href="/create">Create post</a>
	</li>
	<li class="dropdown-item">
		<a href="/myPosts">My posts</a>
	</li>
	<li class="dropdown-item">
		<a href="/users/{{user.id}}">My profile</a>
	</li>
	<li class="dropdown-item">
		<a href="/users">Users</a>
	</li>
	<li class="dropdown-item">
		<a href="/logout">Logout</a>
	</li>
</ul>
{{else}}
	not logged in
<ul class="dropdown-content">
	<li class="dropdown-item">
		<a href="/login/google">Google login</a>
	</li>
	<li class="dropdown-item">
		<a href="/login/github">Github login</a>
	</li>
	<li class="dropdown-item">
		<a href="/login/twitter">Twitter login</a>
	</li>
	<li class="dropdown-item">
		<a href="/login/facebook">Facebook login</a>
	</li>
</ul>
{{/if}}
