<!DOCTYPE html>
<html>
	{{> head}}
	<body>
		<div class="grid"></div>
		<div class="content">
			{{> header}}
			<main class="standardPage">
				<div class="MainText MainTitle background">
					<h1>Who we are?</h1>
					<p class="perex"> 
					We are a group of friends dedicated to a well-known JavaScript language. KPJS is run by fans who devote considerable time and resources to code and learn to code in JS. 
					</p>
					<img src="/img/Java_vs_JS.png" width="1200" alt="JavaScript is to Java as Ham to Hamster">

					<h3> 9 daredevils from 83 erni employees are running KPJS blog </h3>
					<p> Some may have passed away, some other surprisingly joined the fight in the city of Blogham, and the story for sure still has a lot of twists for all the fans </p>
					<img src="/img/infographic_KPJS_1.png" width="800" alt="">

					<h3> We write, sometimes delete, but we always move forward </h3>
					<p> Until today, Yohny wrote more than 3-times more code than other participants. He also deleted the most.</p>
					<img src="/img/infographic_KPJS_2.png" width="800" alt="">

					<h3> Our sessions are full of javascript, beer and fun </h3>
					<p> Write down shopping list, send out invites, add beer, season with chips, pastry and a pinch of yogamaharishi, mix well and serve into the cloud</p>
					<img src="/img/infographic_KPJS_3.png" width="800" alt="">

					<h3> Nowadays, more than 60% of our blog is written in JavaScript </h3>
					<p> The aim was to code our blog purely in JS. Of course, adding other languages was necessary to create a fully functioning website.</p>
					<img src="/img/infographic_KPJS_6.png" width="800" alt="">

					<h3> Initial commit was on 10th aug 2015 </h3>
					<p> On 10th Aug 2016 it is time to look back on all the good things</p>
					<img src="/img/infographic_KPJS_4.png" width="800" alt="">

					<h3> The majority of blog posts were written in oct 2015 </h3>
					<p> Unfortunately, since 6th Dec 2015 our reputation in writing post has stagnated.</p>
					<img src="/img/infographic_KPJS_5.png" width="800" alt="">

					<h3> If you like javascript, join us! All you need is: </h3>
					<img src="/img/infographic_KPJS_7.png" width="800" alt="">

				</div>
			</main>
		</div>
		{{> footer}}
	</body>
</html>
	
