<!DOCTYPE html>
<html>
	{{> head}}
	<body>
		<div class="grid"></div>
		<div class="content">
			{{> header}}
			<main class="standardPage">
				<div class="MainText MainTitle background">
					<h1>Who we are?</h1>
					<p class="perex"> 
					We are a group of friends dedicated to a well-known JavaScript language. KPJS is run by fans who devote considerable time and resources to code and learn to code in JS. 
					</p>
					<img src="/img/Java_vs_JS.jpg" width="1200" alt="JavaScript is to Java as Ham to Hamster">
				</div>
			</main>
		</div>
		{{> footer}}
	</body>
</html>
	
