<!DOCTYPE html>
<html>
	{{> head}}
	<body>
		<div class="grid"></div>
		<div class="content">
		    {{> header}}
		    <main class="standardPage">
		    	<div class="MainText background">
			        <ul class="blogsList">
			            {{#each posts}}<li><a href="posts/{{uri}}" class="ListTitle">{{title}}</a><br>
			            on <span class="isoDateStr">{{dateIsoStr}}</span> by <a href=""><strong>{{authorName}}</strong></a> </li>
			            {{/each}}
			        </ul>
			    </div>
					<script src="/js/dateFormatter.js" type="text/javascript"></script>
		    </main>
		</div>
	    {{> footer}}
	</body>
</html>
