<!DOCTYPE html>
<html>
{{> head}}
    <body>
        {{> header}}
        <form method="post">
            <div>
                Title: <input name="title" value="{{post.title}}" />
            </div>
            {{#if post}}
            {{#if post.exists}}
            <div style="color: red">Post with this url already exits</div>
            {{/if}}
            <div>
                Url: <input name="url" value="{{post.url}}" />
            </div>
            {{/if}}
            <div>
                Content: <textarea name="content" id="editor" cols="100" rows="50">{{post.content}}</textarea>
            </div>
            <input type="submit" value="Save"/>
        </form>
				<script src="/ckeditor/ckeditor.js"></script>
				<script>CKEDITOR.replace( 'editor');</script>
    </body>
</html>
