<!DOCTYPE html>
<html>
	{{> head}}
    <body>
		  <div class="content">
	      {{> header}}
			  <main class="BlogPostPage">
					<div class="MainText">
		      <form action="" method="post">
		        <div>
		          Title: <input type="text" name="title" value="{{title}}" />
		        </div>
		        <div>
		          Content: <textarea name="content" id="editor" cols="100" rows="50">{{content}}</textarea>
		        </div>
		        <div>
		          <input type="submit" name="save" value="Save" style="button"/>
		        </div>
		      </form>
					<script src="/ckeditor/ckeditor.js"></script>
		      <script type="text/javascript">
						/* globals CKEDITOR */
						CKEDITOR.replace('editor', { uploadUrl: '/imageUpload' });
		      </script>
				</div>
		    </main>
		  </div>
    	{{> footer}}
    </body>
</html>
