<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>KPJS blog</title>
    </head>
    <body>
        {{#if user}}
        <img src="{{user.avatarUrl}}" alt="avatar"> <i>{{user.name}}</i> (<a href="/logout">logout</a>)
        {{else}}
        <i>not logged in</i> (<a href="/login/google">Google login</a> <a href="/login/github">Github login</a> <a href="/login/twitter">Twitter login</a>)
        {{/if}}
        <ul>
            {{#each posts}}<li><a href="posts/{{uri}}">{{title}}</a> ({{date}})</li>{{/each}}
        </ul>
    </body>
</html>
