<!DOCTYPE html>
<html>
	{{> head}}
	<body>
		<div class="grid"></div>
		<div class="content">
		    {{> header}}
		    <main class="standardPage">
		    	<div class="MainText background">
			        <ul class="blogsList">
			            {{#each posts}}<li><a href="posts/{{uri}}" class="ListTitle">{{title}}</a>
										<button class="floatRight" name="editButton" value="edit/{{uri}}">Edit</button>
										<button class="floatRight" name="deleteButton" value="posts/{{uri}}">Delete</button>
										<br>
										Published on <span class="isoDateStr">{{dateIsoStr}}</span>
									</li>
									{{/each}}
			        </ul>
			    </div>
					<script type="text/javascript">

					var editHandler = function() {
						window.location.href = this.value;
					};
					var editButtons = document.getElementsByName('editButton');
					for(var i = 0; i < editButtons.length; i++) {
						editButtons[i].addEventListener('click', editHandler);
					}

					var deleteHandler = function() {
						var oReq = new XMLHttpRequest();
						oReq.onreadystatechange = function() {
							if (oReq.readyState === 4 && oReq.status === 200) {
								window.location.reload(true);
							}
						};
						oReq.open('DELETE', this.value);
						oReq.send();
					};
					var deleteButtons = document.getElementsByName('deleteButton');
					for(var i = 0; i < deleteButtons.length; i++) {
						deleteButtons[i].addEventListener('click', deleteHandler);
					}
		      </script>
					<script src="js/dateFormatter.js" type="text/javascript"></script>
		    </main>
		</div>
	    {{> footer}}
	</body>
</html>
