<!DOCTYPE html>
<html>
    {{> head}}
    <link rel="stylesheet" type="text/css" href="/css/highlight.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/languages/javascript.min.js"></script>
    <body>
        <div class="grid"></div>
        <div class="content">
            {{> header}}
            <main class="BlogPostPage">
                <aside <class="asidePost">
                    <ul> 
                        <p class="asideTitle">All posts</p>
                        {{#each posts}}
												<li><a href="{{uri}}" class="asideText{{#if selected}} selected{{/if}}">{{title}}</a><br></li>
			            			{{/each}}
                    </ul>
                </aside>

                <div class="MainText background">
                    <h1 class="MainTitle">{{{title}}}</h1>
                    <ul class="postInfoLine">
                        <li> on <strong class="isoDateStr">{{dateIsoStr}}</strong></li>
                        <li> by <strong>{{author}}</strong></li>
                    </ul>
                    {{{content}}}
                </div>
                <script src="/js/dateFormatter.js" type="text/javascript"></script>
            </main>
        </div>
        {{> footer}}
        /* globals hljs */
         <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>
