<!DOCTYPE html>
<html>
{{> head}}
    <body>
        <div class="grid"></div>
        <div class="content">
            {{> header}}
    	    <main class="standardPage">
    	           <div class="MainText background">
                        <div class="UserName">All users
                        </div>
            	        <ul>
            	            {{#each users}}<li><a href="/users/{{_id}}">{{name}} ({{provider}})</a></li>{{/each}}
            	        </ul>
                    </div>
    	    </main>
        </div>
        {{> footer}}
    </body>
</html>
