<!DOCTYPE html>
<html>
{{> head}}
    <body>
        <div class="content">
            {{> header}}
            <main class="homePage">
                <form action='' method='post'>
                    <input type='hidden' name="userId" value='{{userId}}' />
                    <div>{{userName}} ({{userProvider}})</div>
                    <div>
                        <select name='role'>
                            {{#select role}}
                            <option value="0">zombie</option>
                            <option value="1">citizen</option>
                            <option value="2">ruler</option>
                            {{/select}}
                        </select>
                    </div>
                    <input type='submit' value='update' />
                </form>
            </main>
        </div>
        {{> footer}}
    </body>
</html>
