.hljs{display:block;overflow-x:auto;padding:0.5em;color:#AEAEAE;background:#222222}
.hljs-comment,.hljs-quote{color:#6E6E6E;font-style:italic}
.hljs-doctag,.hljs-keyword,.hljs-formula{color:#CC14CC}
.hljs-section,.hljs-name,.hljs-selector-tag,.hljs-deletion,.hljs-subst{color:#E30A78}
.hljs-literal{color:#1E9986}
.hljs-string,.hljs-regexp,.hljs-addition,.hljs-attribute,.hljs-meta-string{color:#25FC9E}
.hljs-built_in,.hljs-class .hljs-title{color:#ffc800}
.hljs-attr,.hljs-variable,.hljs-template-variable,.hljs-type,.hljs-selector-class,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-number{color:#B29012}
.hljs-symbol,.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-title{color:#3369CC}
.hljs-emphasis{font-style:italic}
.hljs-strong{font-weight:bold}
.hljs-link{text-decoration:underline}