/* css reset start*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* end css reset*/

body, html {
    margin: 0px;
    padding: 0px;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #f6f6f6;
    font-family: 'Economica', sans-serif;
    font-size: 16px;
    color: #222222;
}

.content {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 8px 0 8px;
}

/*MAIN TEXT*/

main {
    padding: 0 0px 50px 230px;
}

h1, h2, h3 {
    font-size: 44px;
    font-weight: 700;
    padding-bottom: 2px;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    padding: 10px 0 6px 0;
    border-bottom: #222222 solid 2px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 8px;
}

p, li {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    padding: 10px 0 15px 0;
}

ul, ol {
    padding-left: 30px;
    text-indent: 15px;
    padding-bottom: 6px;
}

li {
    text-indent: 0px;
    padding: 2px 0 2px 5px;
    margin: 0 60px 0 30px;
}

strong {
    letter-spacing: 2px;
}

a {
    color: #222222;
    font-weight: 700;
}

blockquote {
    padding: 20px 0px 20px 100px;
}

blockquote > p {
    font-size: 20px;
    font-family: 'Economica', sans-serif;
}

/* blockquote>p:before  {
    content: "'";
    font-size: 50px;
    line-height: 8px;
    line
} */

pre {
    background: #222222;
    color: #f6f6f6;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 95%;
    line-height: 140%;
    margin: 10px 0px 10px 30px;
    padding: 4px;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}

code {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 95%;
    line-height: 140%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}

#content code {
    display: block;
    padding: 0.5em 1em;
    border: 1px solid #bebab0;
}

div.main > img {
    max-width: 820px;
    margin-left: 30px;
    border: solid 1px #222222;
    display: inline;
    text-align: center;
}

/*HEADER*/
.upper_stripe {
    background-color: #222222;
    height: 5px;
    width: 100%;
}

header {
    display: block;
    min-height: 112px;
}

div #main-logo  {
    width: 150px;
    height: 175px;
    background-image: url('../img/kpjs_logo_150x175px.png');
    background-width: 80px;
    background-repeat: no-repeat;
    display: block;
    float: left;
    text-indent: -9999px;
    margin: 0 70px 0 20px;
}

nav {
    margin: 0 0 20px 230px;
    padding: 30px 0 4px 0 ;
    height: 28px;
    text-align: right;
    border-bottom: #222222 solid 2px;
}

.menuItem {
    height: 20px;
    display: inline;
    list-style: none;
    padding: 0px 25px 6px 25px;
    margin: 0px;
    background-image: url(../img/list_stroke.png);
    background-repeat: no-repeat;
    background-position: bottom right;
		position: relative;
}

.menuItem:last-child  {
    background-image: none;
    padding-right: 0px;
}

li.menuItem {
    font-family: 'Economica', sans-serif;
    color: #222222;
    text-transform: uppercase;
    font-size: 20px;
    font-weight:700;
    line-height: 32px;
    text-decoration: none;
}

li.menuItem > a {
	text-decoration: none;
}

.navbar-avatar {
    height: 27px;
    border-radius: 17px;
    margin: 0 3px 4px 3px;
	vertical-align: middle;
}

.dropdown-content {
    position: absolute;;
    text-align: right;
    text-transform: none;
    background-color: #222222;
    padding: 0px 8px;
    z-index: 1;
	top: 28px;
	right: 0px;
	white-space: nowrap;
	display: none;
}

.menuItem:hover >  .dropdown-content {
	display: block;
}

.dropdown-content a {
    font-family: 'Economica', sans-serif;
    font-size: 16px;
    letter-spacing: 0.1px;
    color: #f6f6f6;
    text-decoration: none;
}

.dropdown-content li {
    display: inline;
}

.dropdown-item {
    margin: 2px 6px 2px 6px;
}

/*FOOTER*/
footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    height:29px;
    background-color: #222222;
    margin-top: 20px;
    color: #f6f6f6;
}

div.footer {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

div.footer p {
    font-family: 'Economica', sans-serif;
    font-size: 16px;
    letter-spacing: 0.1px;
    padding: 2px 0px 2px 230px;
}

div.footer a {
    font-family: 'Economica', sans-serif;
    font-size: 16px;
    color: #f6f6f6;
    text-decoration: none;
}

/*SITE UNDER CONSTRUCTION*/

.UnderConstruction {
    max-width: 100%;
    height: 300px;
    text-indent: 9999px;
    background-image: url(../img/work-in-progress.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    }

/*HOME*/

.MainTitle a{
    text-decoration: none;

}
.MainTitle h1 {
    font-size: 130px;
    line-height: 100px;
}

.MainTitle h2 {
    font-size: 60px;
    line-height: 50px;
    border-bottom: hidden;
}

.MainTitle > p {

}

.perex {
    font-family: 'Economica';
    padding-right: 120px;
    font-size: 24px;
    line-height: 26px;
}

/* ALL POSTS */

.blogsList {
    padding-left: 0px;
}

.blogsList li {
    padding-left: 0px;
    margin: 15px 0 5px 0;
}

.blogsList a {
    color: #222222;
    text-decoration: none;
}

a.ListTitle {
    font-family: 'Economica', sans-serif;
    font-size: 32px;
}
