/* css reset start*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* end css reset*/

body, html {
    margin: 0px;
    padding: 0px;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #f6f6f6;
    font-family: 'Teko', sans-serif;
    font-size: 16px;
    color: #222222;
}

.grid {
    position: fixed;
    z-index: -100;
    margin-top: 190px;
    width: 100%;
    height: 50%;
    background-image: url('../img/kpjs-grid.png');
}

.content {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 8px 0 8px;
}

/*MAIN TEXT*/

main {
    margin: 0px 0px 50px 0px;
}

.MainText {
    padding: 3px 15px 15px 15px;
    margin: 0 0 0 215px;
}

.background {
    background-color: #f6f6f6;
}


h1, h2, h3 {
    font-size: 56px;
    font-weight: 400;
    padding-bottom: 7px;
}

h2 {
    font-size: 32px;
    font-weight: 400;
    padding: 10px 0 4px 0;
    border-bottom: #222222 solid 2px;
}

h3 {
    font-size: 24px;
    font-weight: 400;
    padding: 5px 0 8px 0;
}

h4 {
    font-size: 18px;
    padding: 10px 0 8px 0;
}

p, li {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    padding: 8px 0 8px 0;
}

main ol, ul {
    padding: 0 0 0 45px;
}

small {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #aaaaaa;
    padding: 10px 0 20px 60px;
}

em {
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 > em {
    font-size: 32px;
}

strong {
    letter-spacing: 1px;
}

a {
    color: #222222;
    font-weight: 400;
}

blockquote {
    padding: 20px 0px 20px 100px;
}

blockquote > p {
    font-size: 20px;
    font-family: 'Teko', sans-serif;
}

/* blockquote>p:before  {
    content: "'";
    font-size: 50px;
    line-height: 8px;
    line
} */

.floatRight {
	margin-left: 10px;
	float: right;
}

pre {
    background: #222222;
    color: #f6f6f6;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 95%;
    line-height: 140%;
    margin: 10px 0px 10px 30px;
    padding: 4px;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}

code {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 95%;
    line-height: 140%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}

#content code {
    display: block;
    padding: 0.5em 1em;
    border: 1px solid #bebab0;
}

main.BlogPostPage img {
    max-width: 805px;
    margin-left: 30px;
    border: solid 1px #222222;
    display: inline;
    text-align: left;
}

::selection {
    background-color: #ffc800;
}

/* INPUTS, BUTTONS */

input, textarea {
    width: 100%;
    margin: 5px 0 15px;
    padding: 3px;
    border: none;
}

input[type=submit], input[type=button], button {
    background-color: transparent;
    border: 2px solid #222222;
    padding: 0 20px;
    margin: 15px 0;
    display: inline-block;
    color: #222222;
    font-size: 20px;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    width: auto;
    height: 30px;
}

input[type=submit]:hover, input[type=button]:hover, button:hover {
    background-color: #222222;
    color: #f6f6f6;
}

/*HEADER*/
.upper_stripe {
    background-color: #222222;
    height: 5px;
    width: 100%;
}

header {
    display: block;
    min-height: 112px;
    padding-right: 15px;
}

div #main-logo  {
    width: 150px;
    height: 175px;
    background-image: url('../img/kpjs_logo_150x175px.png');
    background-repeat: no-repeat;
    display: block;
    float: left;
    text-indent: -9999px;
    margin: 8px 0 0 8px;
}

nav {
    margin: 0 0 20px 230px;
    padding: 30px 0 4px 0 ;
    height: 28px;
    text-align: right;
    border-bottom: #222222 solid 2px;
}

nav li {
    text-indent: 0px;
    padding: 2px 0 2px 5px;
    margin: 0 60px 0 30px;
}

.menuItem {
    height: 20px;
    display: inline;
    list-style: none;
    padding: 0px 25px 2px 25px;
    margin: 0px;
    background-image: url(../img/list_stroke.png);
    background-repeat: no-repeat;
    background-position: bottom right;
		position: relative;
}

.menuItem:last-child  {
    background-image: none;
    padding-right: 0px;
}

li.menuItem {
    font-family: 'Teko', sans-serif;
    color: #222222;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 400;
    line-height: 32px;
    text-decoration: none;
}

li.menuItem > a {
	text-decoration: none;
}

.navbar-avatar {
    height: 27px;
    border-radius: 17px;
    margin: 0 3px 4px 3px;
	vertical-align: middle;
}

.dropdown-content {
    position: absolute;;
    text-align: right;
    text-transform: none;
    background-color: #222222;
    padding: 0px 8px;
    margin-top: 6px;
    z-index: 1;
	top: 28px;
	right: 0px;
	white-space: nowrap;
	display: none;
}

.menuItem:hover >  .dropdown-content {
	display: block;
}

.dropdown-content a {
    font-family: 'Teko', sans-serif;
    font-size: 18px;
    letter-spacing: 0.1px;
    color: #f6f6f6;
    text-decoration: none;
}

.dropdown-content li {
    display: inline;
}

.dropdown-item {
    margin: 2px 6px 2px 6px;
}

/*FOOTER*/
footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 29px;
    background-color: #222222;
    margin-top: 20px;
    color: #f6f6f6;
}

footer > div {
	max-width: 1080px;
	margin: 5px auto;
}

footer > div > div {
	font-family: 'Teko', sans-serif;
    font-size: 18px;
    letter-spacing: 0.4px;
	margin-left: 215px;
}

footer a {
	color: #f6f6f6;
    text-decoration: none;
}

/*SITE UNDER CONSTRUCTION*/

.UnderConstruction {
    max-width: 100%;
    height: 300px;
    text-indent: 9999px;
    background-image: url(../img/work-in-progress.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    }

/*HOME*/

.MainTitle a{
    text-decoration: none;

}
.MainTitle h1 {
    font-size: 135px;
    line-height: 105px;
}

.MainTitle h2 {
    font-size: 60px;
    line-height: 50px;
    border-bottom: hidden;
}

.MainTitle > p {

}

.perex {
    font-family: 'Teko', sans-serif;
    padding: 0 230px 25px 0;    
    font-size: 28px;
    line-height: 30px;
    font-weight: 300;
}

/*ABOUT */
main.standardPage img {
    max-width: 830px;
}

/* ALL POSTS */

.blogsList {
    padding-left: 0px;
}

.blogsList li {
    list-style: none;
    padding-left: 0px;
    margin: 15px 0 5px 0;
}

.blogsList a {
    color: #222222;
    text-decoration: none;
}

a.ListTitle {
    font-family: 'Teko', sans-serif;
    font-size: 32px;
}

/* POST */
aside {
    float: left;
    position: absolute;
    width: 200px;
    min-height: 100px;
    margin-top: 100px;
    padding: 5px;
}

aside ul {
    list-style: none;
}

aside li {
    padding: 6px 0 6px 0;
}

.asideTitle {
    font-family: 'Teko', sans-serif;
    color: #222222;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    padding: 4px 0 4px 0;
    text-transform: uppercase;
    font-size: 23px;
    border-bottom: #222222 dashed 2px;
    margin-bottom: 10px;
}

.asideText {
    font-family: 'Teko', sans-serif;
    color: #222222;
    font-weight: 400;
    font-size: 19px;
    line-height: 19px;
    text-decoration: none;
    letter-spacing: 0.3px;
}

.selected {
    background: #ffc800;
    margin-left: -8px;
    padding: 3px 8px;
}

li.selected a {
    color: #f6f6f6;
}

.postInfoLine {
    list-style: none;
    padding: 0 0 25px 0;
}

ul.postInfoLine > li { 
    display: inline;
} 

.postInfoLine li:before {
    content: '▪';
    margin: 0 2px 0 2px;
}

/* POST-FOOTER */
.postFooter {
    display: inline-block;
    background-color: #aaaaaa;
    padding: 5px;
    margin-right: 15px; 
    width: inherit;
}

/* ERROR */
.errorImage {
    display: block;
    margin: 0 auto;
}

.inline {
    display: inline-block;
    margin-right: 10px;
}